</main>

<footer>
  <a class='footer-text' href="https://www.vecteezy.com/">Vectors credits Vecteezy</a>
  <% var year = new Date().getFullYear() %>
  <p class='footer-text'>Copyright © <%= year %></p>
  <p class='footer-text'><strong>Disclaimer:</strong>This website is not sponsored, created, or controlled by Jehovah's Witnesses or www.JW.org,<p class="footer-text">legally known as the Watch Tower Bible and Tract Society of Pennsylvania.</p></p>
</footer>

<script src="../index.ejs"></script>

</body>

</html>