
node_modules
npm-debug.log
yarn-error.log

.env
.env.*

logs
*.log

.DS_Store
Thumbs.db

.git
.gitignore
.github/

.vscode/
.idea/

dist/
build/

docker-compose.override.yml

*.swp
*.tmp

public/js/*.js.map

*.txt

*.sh